   @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
   * {
       padding: 0px;
       margin: 0px;
       box-sizing: border-box;
   }
   
   body {
       background: linear-gradient(to right top, rgba(0, 0, 0, 0.8), rgba(111, 212, 23, .2));
       height: auto;
       font-family: 'Poppins', sans-serif;
   }
   
   li {
       list-style-type: none;
   }
   
   a {
       text-decoration: none;
   }
   
   .circle1,
   .circle2 {
       background: linear-gradient(to right bottom, rgba(221, 120, 120, 0.7), rgba(255, 255, 255, .3));
       height: 20rem;
       width: 20rem;
       position: fixed;
       border-radius: 50%;
       z-index: -1;
   }
   
   .circle1 {
       top: 5%;
       right: 15%;
   }
   
   .circle2 {
       bottom: 5%;
       left: 10%;
   }
   
   .nav-container {
       /* display: none; */
       position: fixed;
       top: 0;
       background: rgb(22, 22, 22);
       height: auto;
       z-index: 1;
       backdrop-filter: blur(20rem);
       width: 100%;
       box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, .9);
       transition: all .7s linear;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   
   .hide-nav {
       transform: translate(-100%);
       z-index: -1;
   }
   
   .fa-bars {
       color: rgb(201, 201, 201);
       font-size: 2.3rem;
       cursor: pointer;
   }
   
   .toggle-btn {
       padding: 20px;
   }
   
   .logo {
       cursor: pointer;
   }
   
   .sidebar-header {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 1rem 1.5rem;
   }
   
   .close-btn {
       font-size: 2rem;
       color: rgb(201, 201, 201);
       background: transparent;
       border-color: transparent;
       cursor: pointer;
       transition: all .3s linear;
   }
   
   .close-btn:hover {
       color: hsl(360, 71%, 66%);
       transform: rotate(180deg);
   }
   
   .logo1 {
       justify-self: center;
   }
   
   .links a {
       display: block;
       font-size: 2rem;
       text-transform: capitalize;
       padding: 1rem 1.5rem;
       color: rgb(201, 201, 201);
       transition: all .5s linear;
   }
   
   .links {
       display: flex;
       flex-direction: column;
       text-align: center;
       align-self: center;
   }
   
   .links a:hover {
       border-bottom: 2px solid hsl(360, 71%, 66%);
       transition: all .5s linear;
   }
   
   .social-icons {
       justify-self: center;
       display: flex;
       padding-top: 10rem;
   }
   
   .social-icons a {
       font-size: 2.2rem;
       margin: 0rem 0.5rem;
       transition: all .5s linear;
   }
   
   .fa-youtube {
       color: rgb(201, 201, 201);
   }
   
   .fa-instagram {
       color: rgb(201, 201, 201);
   }
   
   .fa-facebook {
       color: rgb(201, 201, 201);
   }
   
   .fa-youtube:hover {
       color: rgb(224, 15, 15);
       transition: all .5s linear;
   }
   
   .fa-facebook:hover {
       color: blue;
       transition: all .5s linear;
   }
   
   .fa-instagram:hover {
       color: rgb(240, 97, 97);
       transition: all .5s linear;
   }
   
   .side-bar {
       position: fixed;
       top: 0;
       left: 0;
       width: 25%;
       height: 100%;
       background: black;
       display: grid;
       grid-template-rows: auto 1fr auto;
       row-gap: 1rem;
       backdrop-filter: blur(100%);
       transition: all .7s linear;
       transform: translate(-100%);
   }
   
   .show-sidebar {
       transform: translate(0);
       z-index: 1;
   }
   
   p {
       color: aliceblue;
       text-align: center;
       font-size: 10px;
   }
   /* main content */
   
   main {
       padding-top: 10rem;
       z-index: 1;
   }
   
   .containers {
       display: flex;
   }
   
   .left {
       flex: 1;
       flex-wrap: wrap;
       border: 1px solid red;
       padding: 3rem;
       margin: 2rem;
       border-radius: 20px;
   }
   
   .right {
       flex: 0;
       flex-wrap: wrap;
       margin: 2rem;
       border: 1px solid green;
       padding: 3rem;
       border-radius: 20px;
   }
   
   .left,
   .right {
       background: linear-gradient(to right bottom, rgba(247, 16, 16, 0.7), rgba(20, 20, 20, 0.3));
       box-shadow: 0px 30px 60px rgba(0, 0, 0, .9);
   }
   
   h2 {
       color: rgb(247, 197, 197);
   }
   
   .PES {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
       padding-bottom: 3rem;
   }
   
   .PES h2 {
       padding: 10px;
   }
   
   .PES img {
       width: 70%;
       padding: 10px;
   }
   
   .status {
       align-self: flex-start;
       padding-left: 10px;
   }
   
   .img-and {
       display: block;
       justify-content: center;
       text-align: center;
   }
   
   .img-social {
       padding: 15px;
       text-align: center;
       justify-self: center;
       display: block;
       align-items: center;
       justify-content: center;
   }
   
   .img-social a {
       margin: 10px;
       padding: 10px;
       background: blue;
       font-size: 2rem;
   }
   
   .download button {
       background: transparent;
       background-repeat: no-repeat;
       border: none;
       text-align: center;
       color: aliceblue;
       padding: 10px;
       text-transform: uppercase;
   }
   
   .download {
       background: black;
       width: 600px;
       align-items: center;
       text-align: center;
       margin: 10px;
   }
   
   .game {
       flex-wrap: wrap;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
   }
   /* PC VIEW */
   
   @media (min-width:800px) {}
   /* MOBILE VIEW */
   
   @media (max-width:799px) {
       .side-bar {
           width: 100%;
           z-index: 1;
           overflow: hidden;
       }
       .containers {
           display: block;
       }
       .left {
           flex: auto;
           flex-wrap: wrap;
           border: 1px solid red;
           padding: 1rem;
           margin: 2rem 1rem;
           border-radius: 20px;
           background: linear-gradient(to right bottom, rgba(247, 16, 16, 0.7), rgba(20, 20, 20, 0.3));
           box-shadow: 0px 30px 60px rgba(12, 12, 12, 0.9);
       }
       .right {
           flex: auto;
           flex-wrap: wrap;
           border: 1px solid green;
           padding: 1rem;
           margin: 2rem 1rem;
           border-radius: 20px;
           background: green;
       }
       .PES {
           display: flex;
           flex-direction: column;
           align-items: center;
           padding-bottom: 3rem;
       }
       .PES img {
           width: 100%;
           padding: 10px;
       }
       .img-and {
           display: flex;
           flex-direction: column;
           justify-content: flex-start;
       }
       .img-social {
           padding: 10px;
           text-align: center;
           justify-self: center;
           display: block;
           align-items: center;
           justify-content: center;
       }
       .img-social a {
           margin: 10px;
           padding: 10px;
           background: blue;
           font-size: 1.2rem;
       }
       .status {
           display: none;
       }
       .download {
           margin: 10px;
           background: black;
           width: 300px;
           align-items: center;
           text-align: center;
       }
   }
   
   hr {
       margin-bottom: 2rem;
   }
   /* .right {
        position: fixed;
        display: flex;
    } */
   /* new update */